<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    
    <div>
      <input v-model="kata" placeholder="masukkan kata/huruf">
    </div>

    <ul v-for="item in filter">
      <li>
          {{ item }}
      </li>
        
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        books : [ "Kalkulus Dasar", "Fisika Dasar", "Aljabar Linier Elementer", "Aljabar Abstrak", "Algoritma Pemrograman"],
        keyword: "",
      },
      computed: {
        filter() {
          if (this.keyword) {
            return this.books.filter((item) => {
             return item.toLowerCase().includes(this.keyword.toLowerCase())
           })
          } else {
            return this.books;
          }
      },
      methods : {},
      }
  })
  </script>
</body>
</html>
