<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">open form</button>
        <h1>{{ 'Nilai a : ' + a }}</h1>
        <h1>{{ 'Rata-rata : ' + rata }}</h1>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          a: 0,
          rata: 0,
        },
        methods: {
          openForm: function () {
            let angka = 0
            let himpun = 0
            while (himpun < 10) {
              this.a = prompt('Masukkan Nilai a')
              const hasil = parseInt(this.a)
              if (Number.isInteger(hasil) == false) {
                  alert("masukkan hanya angka!")
                  break;
              }
              himpun += hasil
              angka += 1
            }
            this.a = himpun
            this.rata = (this.a / angka)
          }
        }
      })
    </script>
</body>
</html>
