<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
</head>
<body>
  <div id="app">
    
    <!--mengganti fungsi menjadi update ketika mode edit-->
    <div v-if = "editNama"> 
      <input v-model="namaUser">
      <button v-on:click="updateUser(namaUser)">Update</button>
    </div>
    
    <div v-else>
      <input v-model="namaUser">
      <button v-on:click="addUser(namaUser)">Tambah</button>
    </div>

    <br>

    <ul v-for="(user, index) in users">
      <li>
          {{ user.name }}
          <button v-on:click="enableUpdate(index)">Edit</button> || <button v-on:click="deleteUser(index)">Hapus</button>
      </li>
        
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        users : [
          {
            'name' : 'Muhammad Iqbal Mubarok',
          },
          {
            'name' : 'Ruby Purwanti',
          },
          {
            'name' : 'Faqih Muhammad',
          },
        ],
        namaUser: "",
        id: 0,
        editNama : false,
      },
      methods : {
          //fungsi menambahkan user
        addUser: function(newName) {
          this.users.push({name: this.namaUser}); 
          this.namaUser = ""; 
        },
        //fungsi menghapus
        deleteUser: function(index) {
          if (this.editNama == true) { 
            alert("Opss! tidak bisa menghapus user selama dalam mode edit"); 
          } else {
            if (confirm("Yakin ingin menghapus user ini?")) { 
              this.users.splice(index, 1); 
            }
          }
        },
        //fungsi edit mode
        enableUpdate: function(index) {
          this.editNama = true; 
          if (this.editNama == true) { 
            this.namaUser = this.users[index].name; 
            this.id = index; 
          }
        },
        updateUser: function(newName) {
          let index = this.id;
          this.users[index].name = newName;
          this.editNama = false; 
          this.id = 0; 
          this.namaUser = ""; 
        },
      }
  })
  </script>
</body>
</html>